<div class="text-danger page-header">
    <h1 >CATALOGO</h1>
</div>
<div class="col-md-12" style="margin-top:500px ;">
 <ul class="pager margin-num-page">
    <li><a class="cursor-hand" id="ant" ng-click="ant()"><span aria-hidden="true">&larr;</span>Ant</a></li>
    <li><a class="cursor-hand" id="sig" ng-click="sig()">Sig<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</div>
<div class="col-md-11 centrado">
    <div ng-repeat="personaje in personajesList">
   		<div class="thumbnail col-md-2 catalogo" style="width: 190px !important; height: 290px !important;">
   			<img src={{personaje.imagen.standard_large}}>
   			 <div class="caption">
       			<h3 class="text-center">{{personaje.nombre}}</h3>
    			</div>
   		</div>
    </div>
</div>

