<div class="text-danger page-header">
<h1>INTERSECCION DE GRUPOS</h1>
</div>
<div class="col-md-12">

<div class="col-md-4">


    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario 1 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-model="userSelec1" ng-click="usuarioSeleccionado1(usuario1)" ng-repeat="usuario1 in usuariosList1">
          	<a>{{usuario1.userName}}</a>
          </li>
        </ul>
      </div><!-- /btn-group -->
      <input ng-model="inputUser1" type="text" class="form-control" aria-label="..." disabled>
    </div><!-- /input-group -->

 <p></p>

    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grupos <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-model="userSelec1"  ng-repeat="grupo in gruposListUser1">
          	<a ng-model="grupoSelec1" ng-click="pasarNombreGrupo1(grupo)">{{grupo.name}}</a>
          </li>
        </ul>
      </div><!-- /btn-group -->
      <input ng-model="inputGrupo1" type="text" class="form-control" aria-label="..." disabled>
    </div><!-- /input-group -->


</div>  

   <div class="col-md-2 text-center">
   <h3> vs. </h3>
   </div>
   
<div class="col-md-4"> 

    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario 2 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-model="userSelec2" ng-click="usuarioSeleccionado2(usuario2)" ng-repeat="usuario2 in usuariosList1">
          	<a>{{usuario2.userName}}</a>
          </li>
        </ul>
      </div><!-- /btn-group -->
      <input ng-model="inputUser2" type="text" class="form-control" aria-label="..." disabled>
    </div><!-- /input-group -->

	 <p></p>

    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grupos <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-model="userSelec2" ng-repeat="grupo in gruposListUser2">
          	<a ng-click="pasarNombreGrupo2(grupo)" ng-model="grupoSelec2">{{grupo.name}}</a>
          </li>
        </ul>
      </div><!-- /btn-group -->
      <input ng-model="inputGrupo2" type="text" class="form-control" aria-label="..." disabled>
    </div><!-- /input-group -->


</div>

</div>  


 <div class="col-md-2 col-md-offset-9">
   <button style="margin-top:20px ;" type="button" class="btn  btn-block btn-danger" ng-click="comparar()">
        Comparar
    </button>
    </div>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <div class="col-md-8 col-md-offset-3">
  <h3 id="tit" style="display:none;"> La interseccion de ambos grupos es:</h3>
  	<div class="col-md-6 col-md-offset-2">
  		 <ul class="list-group" ng-repeat="personaje in result">
  		 <h3 class="text-danger">{{personaje}}</h4>
  		 </ul>
  	</div>
  </div>