<div class="text-danger page-header">
<h1>FAVORITOS</h1>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>PERSONAJES</h4></div>

            <!-- List group -->
      
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="personaje in personajesList">
                    {{personaje.nombre}}
                    <div class="material-switch pull-right">
                        <input id="{{personaje.id}}" ng-model="personaje.checked" type="checkbox" />
                        <label class="label-default" for="{{personaje.id}}"></label>
                    </div>
                </li>
            </ul>
      
        
            <div class="panel-footer" style="height:50px">
             
				  <ul class="pager margin-num-page">
				    <li><a class="cursor-hand" id="ant" ng-click="ant()"><span aria-hidden="true">&larr;</span>Ant</a></li>
				    <li><a class="cursor-hand" id="sig" ng-click="sig()">Sig<span aria-hidden="true">&rarr;</span></a></li>
				  </ul>
		
			</div>
        </div>
        <div>
            <button type="button" class="btn  btn-block btn-danger" ng-click="pushear()" style="width:100%;">
                Add
            </button>
        </div>

    </div>
    <div class="col-md-8">

        <div>
            <h4>TUS FAVORITOS</h4>
        </div>

        <!-- List group -->
        <ul class="list-group" ng-repeat="seleccionado in favoritosList">
            <div class="input-group">
                <div class="form-control cursor-basic"> {{seleccionado}} </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="eliminar(seleccionado)">Delete!</button>
                </span>
            </div>
            <!-- /input-group -->
        </ul>


    </div>
</div>