<div class="text-danger page-header">
<h1>FAVORITOS</h1>
</div>


<div class="col-md-12">
<div class="col-md-4">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>PERSONAJES</h4></div>
        
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                Spider Man
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionDefault" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Hulk
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionPrimary" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Thor
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionSuccess" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Wolverine
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionInfo" class="label-default"></label>
                </div>
            </li>        
        </ul>
   
    </div>     
    <div >
        <button type="button" class="btn  btn-block btn-danger" style="width:100%;">Add</button>
    </div>
</div>
<div class="col-md-8">
    
         <div><h4>TUS FAVORITOS</h4></div>
        
        <!-- List group -->
         
        <ul class="list-group">
            <div class="input-group" style="margin-bottom: 2px;">
                
                <a class="form-control"> Dark Widow </a>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Delete!</button>
                </span>
            </div><!-- /input-group -->
            
             <div class="input-group" style="margin-bottom: 2px;">
                
                <a class="form-control">Deadpool</a>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Delete!</button>
                </span>
            </div>
             <div class="input-group"  style="margin-bottom: 2px;" >
                
                <a class="form-control"> Magneto</a>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Delete!</button>
                </span>
            </div><!-- /input-group -->
            <div class="input-group"  style="margin-bottom: 2px;">
                
                <a class="form-control"> Daredevil </a>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Delete!</button>
                </span>
            </div><!-- /input-group -->
                  
        </ul>
   
    
</div>
</div>