
<div class="text-danger page-header">
<h1>GRUPOS</h1>
</div>


<div class="col-md-12">
<div class="col-md-4">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>PERSONAJES</h4></div>
        
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                Spider Man
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionDefault" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Hulk
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionPrimary" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Thor
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionSuccess" class="label-default"></label>
                </div>
            </li>
            <li class="list-group-item">
                Wolverine
                <div class="material-switch pull-right">
                    <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
                    <label for="someSwitchOptionInfo" class="label-default"></label>
                </div>
            </li>        
        </ul>
   
    </div>     
    <div >
        <button type="button" class="btn  btn-block btn-danger" style="width:100%;">Add</button>
    </div>
</div>
<div class="col-md-8">
     <div class="panel panel-default">
         <div class="panel-heading"><h4>TU GRUPO</h4></div>
        
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                Dark Widow
            </li>
            <li class="list-group-item">
                Deadpool
            </li>
            <li class="list-group-item">
                Magneto
            </li>
            <li class="list-group-item">
                Daredevil
            </li>        
        </ul>
   
    </div>
</div>
</div>

