<div class="col-md-4 col-md-offset-4">
<div class="text-center" style="padding:50px 0">
	<div class="text-danger pull-left">
		 <h1>LOGIN</h1>
	</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
					</div>
					
				</div>
                <a href="#" class="btn btn-block btn-primary btn-danger">Log in</a>
			</div>
			<div class="etc-login-form">
				<p>Forgot your password? <a href="#">click here</a></p>
				<p>New user? <a href="#">create new account</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</div>