<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>Please Log In</title>

    <link rel="stylesheet" href="../assets/css/login.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    
</head>

<body>
    <div id="wrap">
        <div id="regbar">
            <div id="navthing">
                <h2><a href="#" id="loginform">Login</a> | <a href="#" id="registerform">Register</a></h2>
                <div class="login" style="display: none">
                    <div class="arrow-up"></div>
                    <div class="formholder">
                        <div class="randompad">
                            <fieldset>
                                <label name="user">Usuario</label>
                                <input type="text" />
                                <label name="password">Contraseña</label>
                                <input type="password" />
                                <input type="submit" value="Login" />
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="register" style="display: none">
                    <div class="arrow-up"></div>
                    <div class="formholder">
                        <div class="randompad">
                            <fieldset>
                                <label name="User">Usuario</label>
                                <input type="text" value="" />
                                <label name="email">E-mail</label>
                                <input type="text" value="example@example.com" />
                                <label name="password">Contraseña</label>
                                <input type="password" />
                                <input type="submit" value="Registrar" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/login.js"></script>
</body>

</html>