
 <div class="text-center centrado col-md-4" style="padding:50px 0">
 	<div id="loginForm">
 	<div class="text-danger pull-left">
 		 <h1 class="letra">
 		 LOGIN</h1>
 	</div>

 		<div class="text-left">
 				<div class="form-group">
 						<input type="text" class="form-control" id="1" placeholder="username">
 					</div>
 					<div class="form-group">
 						<input type="password" class="form-control" id="2" placeholder="password">
 					</div>

 				<div>
                 <a href="#/home" class="btn btn-block btn-primary btn-danger" ng-click="entrar()">Log in</a>
			</div>
 			<div class="etc-login-form">
 				<p></p>
 				<p></p>
 				<p>Nuevo usuario? <button class="btn btn-default sinButton" ng-click="crearCuenta()" id="crearCuenta">Cree una cuenta</button></p>
 			</div>
 		</div>
 	</div>
 	</div>

  <div class="text-center centrado col-md-4" style="padding:50px 0; display:none;" id="registroForm">
 		<div class="col-md-12">
			<div class="text-danger pull-left">
			 	<h1 class="letra">REGISTRO</h1>
			</div>
			<div class="pull-right">
				<button class="btn btn-default pull-right sinButton boton" ng-click="volver()">
			 		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			 	</button>
			</div>
 		</div>
 	
 			<div class="text-left">
 			
 	
 					<div class="form-group">
 						<label for="lg_nuevo_username" class="sr-only">Username</label>
 						<input type="text" class="form-control" id="lg_nuevo_username" name="lg_nuevo_username" placeholder="username" ng-model="lg_nuevo_username" >
 					</div>
 					<div class="form-group">
 						<label for="lg_nuevo_password" class="sr-only">Password</label>
 						<input type="password" class="form-control" id="lg_nuevo_password" name="lg_nuevo_password" placeholder="password" ng-model="lg_nuevo_password">
 					</div>
 					<div class="form-group">
 						<label for="lg_nuevo_email" class="sr-only">E-mail</label>
 						<input type="text" class="form-control" id="lg_nuevo_email" name="lg_nuevo_email" placeholder="e-mail" ng-model="lg_nuevo_email">
 					</div> 		
 	
 			<button class="btn btn-block btn-danger" ng-click="crearUsuario()">Crear usuario</button>
 	</div>
 </div>



