<div class="text-danger page-header">
<h1>DATOS DE USUARIO</h1>
    <h1 ng-controller="UsuariosController">{{message}}</h1>
</div>


<div class="col-md-12">
<div class="col-md-4">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>USUARIOS</h4></div>
        
        <div class="list-group" style="max-height: 350px; overflow-y:scroll;">
            <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left" id="usuario1" ng-click="onMostrar()">
                <h5>Juan Perez</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Pepe</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Matias</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Micaela</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Daniel</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Andrea</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Andrea</h5>
            </button>
              <button type="button" class="list-group-item">           
                <img style="width:50px; margin-bottom: 2px; margin-top: 2px; margin-right: 35px;" src="assets/img/contact-icon.png" class="pull-left">
                <h5>Andrea</h5>
            </button>
        </div>
    </div>
</div>
<div class="col-md-8">
   
	           <div class="col-md-12">
                    <div class="col-md-6 col-md-offset-1">
                        <h2>{{nombre}}</h2>
                        <p><strong>Ultimo acceso: </strong> 22/05/2016 </p>
                   </div>
                   <div class="col-md-4 text-center">
                    <figure>
                       <img style="margin-top: 35px;" src="assets/img/contact-icon.png">
                       
                    </figure>
                    
                    
                   </div>
                </div>       
        
            <div class="col-md-12">
                <div class="col-md-6 emphasis text-center">
                    <h2><strong> 6 </strong></h2>                    
                    <p><small>Grupos</small></p>
                </div>
                <div class="col-md-6 emphasis text-center">
                    <h2><strong> 10 </strong></h2>                    
                    <p><small>Favoritos</small></p>
                </div>
               
               
             </div>
    </div>
</div>